<script>
    ga('set', 'page', '/about.html');
    ga('send', 'pageview');
</script>

<p id="samTitle"><a href="/#!/assignments"><u>Samuel I. Magdaleno Álvarez</u> </a> </p>
<br/>
<p>Fan de Radiohead, <i>A Song of Ice and Fire</i> y chocolates en la clase.</p>
<p>Mi mamá me dijo una vez que <a href="https://www.instagram.com/p/r8bybwsVxy/?taken-by=sammagdaleno" target="_blank"><u>me parecía al mocha-orejas</u></a>.</p>

<p><b>Matrícula: </b> 18416, <b>Actualmente leyendo: </b>
    <a href="https://en.wikipedia.org/wiki/Infinite_Jest" target="_blank">
        <u>Infinite Jest (David Foster Wallace)</u>
    </a>.</p>


