<script>
    ga('set', 'page', '/assignments.html');
    ga('send', 'pageview');
</script>

<p id="samTitle"><a href="/#!/assignments"><u>Tareas</u> </a> </p>
<br/>
<br/>
<p>Cloud Computing</p>
<p><a href="https://drive.google.com/file/d/0B0JFhGMtHi6eMkFkNDFwMWxubFk/view?usp=sharing" target="_blank"><u>Tarea 1</u> </a> </p>

<p><a href="https://drive.google.com/file/d/0B0JFhGMtHi6eaTlrTHgzZnpkd2c/view?usp=sharing" target="_blank"><u>Tarea 2</u> </a> </p>

<p><a href="https://docs.google.com/document/d/1Z7B7EI8Yhr27rXppbbga2keg-9MtAbShD-LNiKn3Pm8/edit?usp=sharing" target="_blank"><u>Tarea 3</u> </a> </p>

<p><a href="https://docs.google.com/document/d/1iqE6t3WqFVasRlSEYrga-NNthTd_-cFgkPQ3VpqFJRE/edit?usp=sharing" target="_blank"><u>Tarea 6</u> </a> </p>




<br/>
<br/>
<p>Repositorios de GitHub</p>
<p><a href="https://github.com/samagdaleno/samweb/" target="_blank"><u>Samweb Tarly</u> </a> </p>

<p><a href="https://github.com/samagdaleno/tareasCloud/" target="_blank"><u>Tareas Cloud</u> </a> </p>

